.clearfix:after{
    content:"";
    display:block;
    clear:both;
  }
  

.font {
  font-family: 'Raleway':400,300,700,900;
  color: #FFF;
}

.inner {
  width: 1100px;
}

.banner {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
}

.banner__bolt {
  margin-top: 15px;
  margin-bottom: 15px;
}

.mainvisual {
  width: 100%;
  background-color: #f2f2f2;
  text-align: center;
}

.mainvisual__title {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
  padding-top: 250px;
  padding-bottom: 20px;
}

.mainvisual__subtitle {
  font-size: 30px;
  color: #c0c0c0;
  padding-bottom: 250px;
  text-align: center;
}

.description {
  width: 100%;
  background-color: #74cfae;
}

.description__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.description__art {
  padding-top: 50px;
}

.description__paragraph {
  text-align: center;
  margin: 50px 140px 0;
}

.description__title {
  font-size: 24px;
}

.description__letter {
  font-size: 20px;
  padding-top: 35px;
  word-break: break-all;
}

.mainart {
  width: 100%;
  background-color: #f2f2f2;
  text-align: center;
}

.mainart__title {
  color: #000;
  font-size: 24px;
  padding-top: 60px;
}

.mainart__top {
float: left;
margin: 40px 100px 80px;
width: 300px;
}

.mainart__second {
  float: left;
  margin: 80px 100px 90px;
  width:300px;
}

.mainskill {
  width: 100%;
  background-color: #4e4e4e;
}

.mainsns {
  width: 100%;
  background-color: #f2f2f2;
}

.lastbanner {
  width: 100%;
  background-color: #74cfae;
}