.clearfix:after{
    content:"";
    display:block;
    clear:both;
  }

.inner {
  width: 1100px;
  margin: 0 auto;
}

@media screen and (min-width:768px) and (max-width:1199px) {
  .inner {
    width:97%;
    margin: 0 auto;
  }
}

@media screen and (max-width:767px) {
  .inner {
    width:97%;
    margin: 0 auto;
  }
}

.titlefont {
  font-family: 'Raleway', sans-serif;
}

.font {
  font-family: 'Lato';
  color: #333;
}

.underline {
  text-decoration: none;
}

.set {
  width: 100%;
  background-color: #f2f2f2;
  text-align: center;
  padding-top: 79.6px;
}

.banner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 100;
  padding: 15px 0;
}

.banner__flex {
  position: relative;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

@media screen and (max-width:767px) {
  .banner__flex {
    position: relative;
    display: flex;
    justify-content:space-between;
    align-items: center;
    box-sizing: border-box;
  }
}

.banner__bolt {
  font-size: 50px;
}

.banner__contact {
  font-size: 12px;
  background-color: #74cfae;
  padding: 14px 12px;
  transition: all 0.3s ;
  color: #fff;
}

.humberger__line,
.far,
.fa-bars {
  display: none;
}


@media screen and (max-width:767px) {
  .banner__contact {
    display: none;
  }

  .banner__humberger {
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
  }

  .humberger__line {
    display: inline-block;
    font-size: 2em;
    color: #ddd;
    padding: 10px;
    width: 40px;
    text-align: center;
  }

  .far {
    font-weight: 1000;
  }
}

.banner__contact:hover {
  color: #333;
}

.visual {
  background-color: #f2f2f2;
  text-align: center;
  padding: 250px 0;
}

@media screen and (max-width:767px) {
  .visual {
    padding: 160px 0 130px;
  }
}

.visual__title {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae;
}

@media screen and (max-width:767px) {
  .visual__title {
    font-size: 80px;
  }
}

.visual__subtitle {
  font-size: 30px;
  color: #c0c0c0;
  margin-top: 20px;
  text-align: center;
}

@media screen and (max-width:767px) {
  .visual__subtitle {
    font-size: 30px;
  }
}

.description {
  background-color: #74cfae;
  padding-top: 50px;
}

@media screen and (min-width:768px) and (max-width:1199px) {
  .description {
    padding-bottom: 25px;
  }
}

@media screen and (max-width:767px) {
  .description {
    padding-bottom: 20px;
  }
}

.description__flex {
  display: flex;
  justify-content:space-around;
  align-items: center;
}

@media screen and (min-width:768px) and (max-width:1199px) {
  .description__flex {
    flex-direction: column;
  }
}

@media screen and (max-width:767px) {
  .description__flex {
    flex-direction: column;
  }
}

.description__title {
  font-size: 24px;
  color: #fff;
}


.description__letter {
  font-size: 20px;
  line-height: 30px;
  width: 680px;
  color: #fff;
  margin-top: 35px;
}

@media screen and (min-width:768px) and (max-width:1199px) {
  .description__letter {
    width: 910px;
  }
}

@media screen and (min-width:768px) and (max-width:1199px) {
  .description__paragraph {
    margin-top: 20px;
  }
}

@media screen and (max-width:767px) {
  .description__paragraph {
    margin-top: 20px;
  }
}

@media screen and (max-width:767px) {
  .description__letter {
    margin-top: 20px;
    width: initial;
  }
}

.art {
  background-color: #f2f2f2;
  text-align: center;
  padding: 60px 0 70px;
}

@media screen and (min-width:768px) and (max-width:1199px) {
  .clearfix {
    content:initial;
    display:initial;
    clear:initial;
  }
}

@media screen and (max-width:767px) {
  .clearfix {
    content:initial;
    display:initial;
    clear:initial;
  }
}

.art__title {
  color: #000;
  font-size: 24px;
}

.art__status {
  margin-top: 80px;
  font-size: 0;
}

@media screen and (min-width:768px) and (max-width:1199px) {
  .art__status {
    list-style-type: none;
    display: block;
    margin-top: 40px;
  }
}

@media screen and (max-width:767px) {
  .art__status {
    list-style-type: none;
    display: block;
    margin-top: 40px;
  }
}

.art__gap {
  display: inline-block;
  margin: 80px 0 0 100px;
}

@media screen and (min-width:768px) and (max-width:1199px) {
  .art__gap {
    display: list-item;
    margin: initial;
    vertical-align: bottom;
  }
}

@media screen and (max-width:767px) {
  .art__gap {
    margin: initial;
    vertical-align: bottom;
  }
}

.art__gap:first-child,
.art__gap:nth-child(3n+1) {
  margin-left: 0;
}

@media screen and (min-width:768px) and (max-width:1199px) {
  .art__gap:nth-child(3n+1) {
    margin-top: 80px
  }
}

@media screen and (max-width:767px) {
  .art__gap:first-child,
  .art__gap:nth-child(3n+1) {
    margin-top: 50px
  }
}

.art__gap:first-child,
.art__gap:nth-child(2),
.art__gap:nth-child(3) {
  margin-top: 0;
}

.art__paragraph {
  float: left;
  opacity: 0.7;
  transition: all 0.3s ;
}

@media screen and (min-width:768px) and (max-width:1199px) {
  .art__paragraph {
    float: initial;
  }
}

.art__paragraph:hover {
  opacity: 1;
}

.art__flex {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

@media screen and (min-width:768px) and (max-width:1199px) {
  .art__flex {
    flex-direction: column;
    margin-top: 80px;
  }
}

@media screen and (max-width:767px) {
  .art__flex {
    flex-direction: column;
  }
}

.art__letter {
  line-height: 25px;
  width: 460px;
}

@media screen and (min-width:768px) and (max-width:1199px) {
  .art__letter {
    display: block;
    margin: 0 auto;
    width: 800px;
  }
}

@media screen and (max-width:767px) {
  .art__letter{
    width: initial;
  }
}

.email {
  font-size: 12px;
  padding: 14px 20px;
  margin-left: 90px;
  background-color: #74cfae;
  white-space: nowrap;
  transition: all 0.3s ;
  color: #fff;
}

.email:hover {
  color: #333;
}

@media screen and (min-width:768px) and (max-width:1199px) {
  .email {
    margin-left: 0;
    margin-top: 40px;
    display: inline-block;
  }
}

@media screen and (max-width:767px) {
  .email {
    margin-top: 50px;
    margin-left: 0;
    display: inline-block;
  }
}

.skill {
  background-color: #4e4e4e;
  padding: 70px 0 100px;
}

.skill__title {
  color: #fff;
  font-size: 24px;
  text-align: center;
}

.skill__flex {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

@media screen and (min-width:768px) and (max-width:1199px) {
  .skill__flex {
    flex-direction: column;
    margin-top: 50px;
  }
}

@media screen and (max-width:767px) {
  .skill__flex {
    flex-direction: column;
    margin-top: 50px;
  }
}

.skill__status {
  margin-left:180px;
  font-size: 16px;
}

@media screen and (min-width:768px) and (max-width:1199px) {
  .skill__status {
    margin-left: 0;
    margin-top: 88px;
  }
}

@media screen and (max-width:767px) {
  .skill__status {
    margin-left: 0;
    margin-top: 100px;
  }
}

.skill__status:first-child {
  margin-left: 0;
}

@media screen and (min-width:768px) and (max-width:1199px) {
  .skill__status:first-child {
    margin-top: 0;
  }
}

@media screen and (max-width:767px) {
  .skill__status:first-child {
    margin-top: 0;
  }
}

.skill__letter {
  font-size: 16px;
  color: #fff;
  margin-top: 10px;
}

.sns {
  background-color: #f2f2f2;
  padding: 200px 0;
  font-size: 0;
}

@media screen and (max-width:767px) {
  .sns {
    padding: 50px 15px 0;
  }
}

.sns__gap {
  display: flex;
  justify-content: center;
}

@media screen and (max-width:767px) {
  .sns__gap {
    flex-direction: column;
  }
}

.sns__box {
  display: inline-block;
  background-color: #f2f2f2;
  font-size: 45px;
  width: 185px;
  padding: 25px 0;
  transition: all 0.3s ;
}

@media screen and (max-width:767px) {
  .sns__box {
    width:100%;
  }
}

.sns__box:hover {
  background-color: #fff;
}

.sns__default {
  color: #74cfae;
}

.lastbanner {
  width: 100%;
  background-color: #74cfae;
  text-align: right;
  padding: 20px 0 25px;
}

.lastbanner__letter {
  color: #fff;
}



